<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}    
        
        <p>Use this site to get any location's weather!</p>

        <form>
            <input type="text" placeholder="Type location here">
            <button class="btn-1">Search</button>
            <button class="btn-2">Use my current location</button>
        </form>

        <p class="message-1"></p>
        <p class="message-2"></p>

    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>